<div class="card" data-turbo-permanent>
  <div class="card-body">
    <%= form_with url: false, builder: BattlesFilterFormBuilder, method: :get, data: { controller: "form-helper", action: "turbo:before-fetch-request->form-helper#compactBlank" } do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :character, class: "form-label" %>
          <%= f.character_select :character, include_any: true, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :control_type, class: "form-label" %>
          <%= f.control_type_select :control_type, include_any: true, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :vs_character, class: "form-label" %>
          <%= f.character_select :vs_character, include_any: true, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :vs_control_type, class: "form-label" %>
          <%= f.control_type_select :vs_control_type, include_any: true, class: "form-select" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :battle_type, class: "form-label" %>
          <%= f.battle_type_select :battle_type, include_any: true, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :played_from, class: "form-label" %>
          <%= f.date_field :played_from, class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= f.label :played_to, class: "form-label" %>
          <%= f.date_field :played_to, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.submit class: "btn btn-primary" %>
          <%= f.reset class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
