<div class="py-3">
  <div class="card">
    <div class="card-body">
      <%= form_with model: model, url: player_battles_path, method: :get do |f| %>
        <div class="row mb-3">
          <div class="col-md-3">
            <%= f.label :player_character, class: "form-label" %>
            <%= character_select f, :player_character, include_any: true, class: 'form-select' %>
          </div>
          <div class="col-md-3">
            <%= f.label :player_control_type, class: "form-label" %>
            <%= control_type_select f, :player_control_type, include_any: true, class: 'form-select' %>
          </div>
          <div class="col-md-3">
            <%= f.label :opponent_character, class: "form-label" %>
            <%= character_select f, :opponent_character, include_any: true, class: 'form-select' %>
          </div>
          <div class="col-md-3">
            <%= f.label :opponent_control_type, class: "form-label" %>
            <%= control_type_select f, :opponent_control_type, include_any: true, class: 'form-select' %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <%= f.label :battle_type, class: "form-label" %>
            <%= battle_type_select f, :battle_type, include_any: true, class: 'form-select' %>
          </div>
          <div class="col-md-3">
            <%= f.label :played_from, class: "form-label" %>
            <%= f.date_field :played_from, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :played_to, class: "form-label" %>
            <%= f.date_field :played_to, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.submit t("actions.filter"), name: '', class: "btn btn-primary" %>
            <%= reset_button class: "btn btn-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
