<table class="table">
  <thead>
    <tr class="text-center">
      <th><%= Challenger.human_attribute_name(:name) %></th>
      <th><%= Challenger.human_attribute_name(:character) %></th>
      <th><%= Challenger.human_attribute_name(:control_type) %></th>
      <th><%= t('attributes.total') %></th>
      <th><%= t('attributes.win') %></th>
      <th><%= t('attributes.draw') %></th>
      <th><%= t('attributes.lose') %></th>
      <th><%= t('attributes.diff') %></th>
    </tr>
  </thead>
  <tbody>
    <% rival.each do |r| %>
      <% r => score:, values: %>
      <tr class="text-center">
        <td><%= link_to values['name'], player_path(values['short_id']) %></td>
        <td><%= t_character(values['character']) %></td>
        <td><%= t_control_type(values['control_type']) %></td>
        <td><%= score.total %></td>
        <td><%= score.win %></td>
        <td><%= score.draw %></td>
        <td><%= score.lose %></td>
        <td><%= signed_number(score.diff) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
