<h3><%= t 'titles.players.battles' %></h3>

<%= render 'form', model: @filter %>

<%= n_battles_found_alert(@battles.total_count) %>

<% if @battles.total_count.positive? %>
  <h3><%= t('.rivals') %></h3>
  <%= render 'rivals', rivals: @rivals %>

  <h3><%= t('.battles_history') %></h3>
  <%= render 'battles', battles: @battles %>
<% end %>
