<div class="mb-3">
  <%= render "filter_form", object: @filter_form %>
</div>

<% if @matchups.present? %>

  <%= turbo_frame_tag "rival-list" do %>
    <%= button_to t(".rivals"), rivals_player_battles_path(@player), method: :get, params: request.query_parameters, class: "btn btn-outline-primary mb-3 w-100" %>
  <% end %>

  <%= render "score", score: @score %>

  <%= turbo_frame_tag "battle-list" do %>
    <div class="d-flex flex-column gap-3 mb-3">
      <%= render partial: "matchup", collection: @matchups %>
    </div>

    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>

<% else %>
  <%= no_data_alert %>
<% end %>
