<div class="mb-3">
  <%= render 'filter_form', object: @battles_filter_form %>
</div>

<% if @battles.present? %>
  <%= turbo_frame_tag "rival-list" do %>
    <%= button_to t('.rivals'), rivals_player_battles_path(@player), method: :get, params: @battles_filter_form.attributes, class: "btn btn-outline-primary mb-3 w-100" %>
  <% end %>
  <%= render 'score', score: @score %>
  <%= render 'battle_list', battles: @battles, total_pages: @total_pages %>
<% else %>
  <%= no_data_alert %>
<% end %>
