<div class="d-flex flex-column align-items-center justify-content-center h-100">
  <%= image_tag "sfbuff-icon.svg", width: "300", height: "300" %>
  <h2><%= t ".welcome" %></h2>
  <div><%= t ".description" %></div>
  <div class="py-3 w-100" style="max-width: 670px">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-players" type="button" role="tab" aria-controls="nav-players" aria-selected="true">Players</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-characters" type="button" role="tab" aria-controls="nav-characters" aria-selected="false">Characters</button>
      </div>
    </nav>
    <div class="tab-content py-4 px-3 border border-top-0" style="min-height: 115px">
      <div class="tab-pane active" id="nav-players" role="tabpanel" aria-labelledby="nav-players-tab" tabindex="0">
        <%= render "shared/player_search_form" %>
        <small class="text-body-secondary fw-light"><%= t(".about") %></small>
      </div>
      <div class="tab-pane" id="nav-characters" role="tabpanel" aria-labelledby="nav-characters-tab" tabindex="0">
        <%= render "shared/character_search_form" %>
      </div>
    </div>
  </div>
</div>
