<div class="d-flex flex-column align-items-center justify-content-center h-100">
  <%= image_tag "sfbuff-icon.svg", width: "300", height: "300" %>
  <h2><%= t ".welcome" %></h2>
  <div><%= t ".description" %></div>
  <div class="py-3">
    <%= render "shared/search_form" do |f| %>
      <%= f.submit t("buttons.search"), name: nil, class: "btn btn-primary" %>
    <% end %>
    <small class="text-body-secondary fw-light"><%= t(".about") %></small>
  </div>
</div>
