<form action="<%= fighters_path %>">
  <div class="input-group">
    <input type="search" name="q" value="<%= params[:q] %>" placeholder="<%= t('.placeholder') %>"  minlength="4" required class="form-control">
    <button type="submit" class="btn btn-primary" title="<%= t('buttons.search') %>"><%= icon "search" %></button>
  </div>
</form>
