<table class="table table-striped text-center">
  <thead>
    <tr>
      <th colspan="2">VS</th>
      <%= score_table_head %>
      <th><%= tag.span icon("bar-chart-fill"), title: t("common.chart") %></th>
    </tr>
  </thead>
  <tbody>
    <% Enums::CHARACTERS.keys.product(Enums::INPUT_TYPES.keys).each do |character_id, input_type_id| %>
      <% score = matchup_chart.score_for(character_id:, input_type_id:) %>
      <tr>
        <td><%= character_name character_id %></td>
        <td><%= input_type_name input_type_id %></td>
        <%= score_table_data score %>
        <td><%= link_to_daily_performance_chart_path(away_character_id: character_id, away_input_type_id: input_type_id) if score %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"></td>
      <%= score_table_data matchup_chart.total %>
      <td><%= link_to_daily_performance_chart_path if matchup_chart.total %></td>
    </tr>
  </tbody>
</table>
