<%= form_tag false, method: :get, class: "card card-body mb-3" do %>
  <div class="row">
    <label class="col-md-1 mb-3 col-form-label align-self-end"><%= Matchup.human_attribute_name("home") %></label>
    <div class="col-md-3 mb-3">
      <%= character_select_tag :home_character, include_any: false, selected: CurrentMatchupFilter.home_character, class: "form-select" %>
    </div>
  </div>
  <div class="row">
    <label class="col-md-1 mb-3 col-form-label align-self-end"><%= Battle.model_name.human %></label>
    <div class="col-md-3 mb-3">
      <div class="input-group">
        <span class="input-group-text"><%= t("attributes.played_from") %></span>
        <%= date_field_tag :played_from, CurrentMatchupFilter.played_from, autocomplete: false, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="input-group">
        <span class="input-group-text"><%= t("attributes.played_to") %></span>
        <%= date_field_tag :played_to, CurrentMatchupFilter.played_to, autocomplete: false, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= submit_tag t("buttons.filter"), name: "filter", class: "btn btn-primary" %>
        <%= link_to t("buttons.reset"), false, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>
