<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= t 'buckler.data.personal_info.fighter_id' %></th>
        <th class="d-none d-lg-table-cell"><%= t 'buckler.data.personal_info.short_id' %></th>
        <th><%= t 'buckler.data.fighter_banner.favorite_character_name' %></th>
        <th>
          <%= t 'buckler.data.league_info.mr' %>
          /
          <%= t 'buckler.data.league_info.lp' %>
        </th>
        <th><%= t 'buckler.data.fighter_banner.home_name' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% data.each do |fighter| %>
        <tr>
          <td><%= fighter.dig('personal_info', 'fighter_id') %></td>
          <td class="d-none d-lg-table-cell"><%= fighter.dig('personal_info', 'short_id') %></td>
          <td><%= fighter.dig('favorite_character_name') %></td>
          <td>
            <% if (mr = fighter.dig('favorite_character_league_info', 'master_rating')).positive? %>
              <%= "#{mr} #{t('buckler.data.league_info.mr')}" %>
            <% elsif (lp = fighter.dig('favorite_character_league_info', 'league_point')).positive? %>
              <%= "#{lp} #{t('buckler.data.league_info.lp')}" %>
            <% end %>
          </td>
          <td><%= fighter.dig('home_name') %></td>
          <td>
            <%= button_to t('actions.select'), player_path(fighter.dig('personal_info', 'short_id')), 
              method: :get, class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
