<% [ :favorites, :victims, :tormentors ].index_with { rivals.public_send(_1) }.map do |kind, data| %>
  <div class="card card-body my-3 table-responsive">
    <table class="table table-striped caption-top text-center">
      <caption class="fs-4 text-center">
        <%= Rivals.human_attribute_name(kind) %>
      </caption>
      <thead>
        <tr>
          <th><%= Challenger.human_attribute_name(:name) %></th>
          <th><%= Challenger.human_attribute_name(:character) %></th>
          <th><%= t("attributes.results.total") %></th>
          <th><%= t("attributes.results.win") %></th>
          <th><%= t("attributes.results.lose") %></th>
          <th><%= t("attributes.results.draw") %></th>
          <th>Σ</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <% data.each do |item| %>
          <% item => { short_id:, name:, character:, control_type:, score: } %>
          <tr>
            <td><%= link_to_player(name, short_id) %></td>
            <td>
              <%= character.human_name %>
              <%= control_type %>
            </td>
            <td><%= score.total %></td>
            <td><%= score.win %></td>
            <td><%= score.lose %></td>
            <td><%= score.draw %></td>
            <td><%= signed_number score.diff %></td>
            <td><%= percent_number score.absolute_win_percent %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
