<div class="card card-body table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <th colspan="3"><%= t("attributes.home_challenger") %></th>
      <th><%= t("attributes.result") %></th>
      <th colspan="3"><%= t("attributes.away_challenger") %></th>
      <th><%= t("attributes.battle_type") %></th>
      <th><%= t("attributes.replay_id") %></th>
      <th><%= t("attributes.played_at") %></th>
    </thead>
    <tbody>
      <% matchups_list.each do |matchup| %>
        <tr>
          <td><%= link_to_fighter matchup.home_name, matchup.home_fighter_id %></td>
          <td><%= character_name matchup.home_character_id %></td>
          <td><%= input_type_name matchup.home_input_type_id %></td>
          <td><%= result_badge matchup %></td>
          <td><%= link_to_fighter matchup.away_name, matchup.away_fighter_id %></td>
          <td><%= character_name matchup.away_character_id %></td>
          <td><%= input_type_name matchup.away_input_type_id %></td>
          <td><%= battle_type_name matchup.battle_type_id %></td>
          <td><%= link_to_battle matchup.replay_id %></td>
          <td><%= local_time_ago matchup.played_at, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
