<div class="card card-body table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th><%= Challenger.human_attribute_name(:character) %></th>
        <th><%= Matchup.human_attribute_name(:result) %></th>
        <th><%= Challenger.human_attribute_name(:name) %></th>
        <th><%= Challenger.human_attribute_name(:character) %></th>
        <th><%= Battle.human_attribute_name(:battle_type) %></th>
        <th><%= Battle.human_attribute_name(:replay_id) %></th>
        <th><%= Battle.human_attribute_name(:played_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% matchup_list.each do |item| %>
        <tr>
          <td>
            <%= pick_span character: item.home.character, control_type: item.home.control_type %>
          </td>
          <td><%= result_badge item.result %></td>
          <td><%= link_to_player item.away.name, item.away.short_id %></td>
          <td>
            <%= pick_span character: item.away.character, control_type: item.away.control_type %>
          </td>
          <td><%= item.battle.battle_type.human_name %></td>
          <td>
            <%= link_to item.battle.replay_id,
                battle_path(item.battle),
                data: { turbo_frame: "turbo-modal" } %>
          </td>
          <td><%= local_time(item.battle.played_at, :short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
