<div class="card" data-turbo-permanent>
  <div class="card-body">
    <%= form_with model: object, url: false, method: :get, data: { controller: "form-helper", action: "turbo:before-fetch-request->form-helper#compactBlank" } do |f| %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= f.label :character, class: "form-label" %>
          <%= character_select_tag :character, selected: object.character, include_any: false, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :battle_type, class: "form-label" %>
          <%= battle_type_select_tag :battle_type, selected: object.battle_type, include_any: true, class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= f.label :played_from, class: "form-label" %>
          <%= f.date_field :played_from, class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= f.label :played_to, class: "form-label" %>
          <%= f.date_field :played_to, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.submit t("buttons.filter"), name: "", class: "btn btn-primary" %>
          <%= reset_button class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
