<table class="table table-striped table-hover text-center">
  <thead>
    <tr>
      <th><%= Challenger.human_attribute_name(:character) %></th>
      <th><%= Challenger.human_attribute_name(:control_type) %></th>
      <th><%= t("attributes.total") %></th>
      <th><%= t("attributes.win") %></th>
      <th><%= t("attributes.lose") %></th>
      <th><%= t("attributes.draw") %></th>
      <th><%= t("attributes.diff") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% matchup_chart.each do |line| %>
        <tr>
          <td><%= t_character(line["character"]) %></td>
          <td><%= t_control_type(line["control_type"]) %></td>
          <td><%= line.score.try(:total) || "-" %></td>
          <td><%= line.score.try(:win) || "-" %></td>
          <td><%= line.score.try(:lose) || "-" %></td>
          <td><%= line.score.try(:draw) || "-" %></td>
          <td><%= line.score.try { signed_number(_1.diff) } || "-" %></td>
          <td>
            <% if line.score.present? %>
              <%= link_to player_matchups_performance_group_by_date_chart_path(
                    request.query_parameters.merge(vs_character: line["character"], vs_control_type: line["control_type"])
                  ), data: { turbo_frame: "turbo-modal" } do %>
                <%= bs_icon("bar-chart-line-fill") %>
              <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"><%= t(".sum") %></th>
      <td><%= matchup_chart.sum.total %></td>
      <td><%= matchup_chart.sum.win %></td>
      <td><%= matchup_chart.sum.lose %></td>
      <td><%= matchup_chart.sum.draw %></td>
      <td><%= signed_number matchup_chart.sum.diff %></td>
      <td>
        <% if matchup_chart.sum.total.positive? %>
          <%= link_to player_matchups_performance_group_by_date_chart_path(
                request.query_parameters
              ), data: { turbo_frame: "turbo-modal" } do %>
            <%= bs_icon("bar-chart-line-fill") %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>

<%= turbo_frame_tag "turbo-modal" %>
