<table class="table table-striped text-center">
  <thead>
    <tr>
      <th><%= Challenger.human_attribute_name(:character) %></th>
      <th><%= Challenger.human_attribute_name(:control_type) %></th>
      <th><%= t('attributes.total') %></th>
      <th><%= t('attributes.win') %></th>
      <th><%= t('attributes.lose') %></th>
      <th><%= t('attributes.draw') %></th>
      <th><%= t('attributes.diff') %></th>
    </tr>
  </thead>
  <tbody>
    <% matchup_chart.each do |score, values| %>
      <tr>
        <td><%= t_character(values["character"]) %></td>
        <td><%= t_control_type(values["control_type"]) %></td>
        <td><%= score.try(:total) || '-' %></td>
        <td><%= score.try(:win) || '-' %></td>
        <td><%= score.try(:lose) || '-' %></td>
        <td><%= score.try(:draw) || '-' %></td>
        <td><%= score.try { signed_number(_1.diff) } || '-' %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <% scores = matchup_chart.filter_map { |score, _| score } %>
      <th colspan="2"><%= t('.sum') %></th>
      <td><%= scores.map(&:total).sum %></td>
      <td><%= scores.map(&:win).sum %></td>
      <td><%= scores.map(&:lose).sum %></td>
      <td><%= scores.map(&:draw).sum %></td>
      <td><%= signed_number scores.map(&:total).sum %></td>
    </tr>
  </tfoot>
</table>
