<table class="table table-striped text-center">
  <thead>
    <tr>
      <th><%= Challenger.human_attribute_name(:character) %></th>
      <th><%= Challenger.human_attribute_name(:control_type) %></th>
      <th><%= t("attributes.total") %></th>
      <th><%= t("attributes.win") %></th>
      <th><%= t("attributes.lose") %></th>
      <th><%= t("attributes.draw") %></th>
      <th><%= t("attributes.diff") %></th>
    </tr>
  </thead>
  <tbody>
    <% matchup_chart.each do |line| %>
      <tr>
        <td><%= t_character(line["character"]) %></td>
        <td><%= t_control_type(line["control_type"]) %></td>
        <td><%= line.score.try(:total) || "-" %></td>
        <td><%= line.score.try(:win) || "-" %></td>
        <td><%= line.score.try(:lose) || "-" %></td>
        <td><%= line.score.try(:draw) || "-" %></td>
        <td><%= line.score.try { signed_number(_1.diff) } || "-" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"><%= t(".sum") %></th>
      <td><%= matchup_chart.sum.total %></td>
      <td><%= matchup_chart.sum.win %></td>
      <td><%= matchup_chart.sum.lose %></td>
      <td><%= matchup_chart.sum.draw %></td>
      <td><%= signed_number matchup_chart.sum.diff %></td>
    </tr>
  </tfoot>
</table>
