<div class="card mb-3" data-turbo-permanent>
  <div class="card-body">
    <%= form_tag false, method: :get, data: { controller: "form-helper", action: "turbo:before-fetch-request->form-helper#compactBlank" } do %>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= label_tag :battle_type, t("attributes.battle_type"), class: "form-label" %>
          <%= battle_type_select_tag :battle_type, include_any: true, selected: params[:battle_type], class: "form-select" %>
        </div>
        <div class="col-md-3">
          <%= label_tag :played_from, t("attributes.played_from"), class: "form-label" %>
          <%= date_field_tag :played_from, params[:played_from], autocomplete: false, class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= label_tag :played_to, t("attributes.played_to"), class: "form-label" %>
          <%= date_field_tag :played_to, params[:played_to], autocomplete: false, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <%= label_tag :mr_from, t("attributes.home_mr"), class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">&gt;=</span>
            <%= number_field_tag :mr_from, params[:mr_from], step: 100, min: 0, autocomplete: false, class: "form-control" %>
            <span class="input-group-text" id="basic-addon1">&lt;=</span>
            <%= number_field_tag :mr_to, params[:mr_to], step: 100, min: 0, autocomplete: false, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <%= label_tag :lp_from, t("attributes.home_lp"), class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">&gt;=</span>
            <%= number_field_tag :lp_from, params[:lp_from], step: 100, min: 0, autocomplete: false, class: "form-control" %>
            <span class="input-group-text" id="basic-addon1">&lt;=</span>
            <%= number_field_tag :lp_to, params[:lp_to], step: 100, min: 0, autocomplete: false, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <%= label_tag :vs_mr_from, t("attributes.away_mr"), class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">&gt;=</span>
            <%= number_field_tag :vs_mr_from, params[:vs_mr_from], step: 100, min: 0, autocomplete: false, class: "form-control" %>
            <span class="input-group-text" id="basic-addon1">&lt;=</span>
            <%= number_field_tag :vs_mr_to, params[:vs_mr_to], step: 100, min: 0, autocomplete: false, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <%= label_tag :lp_from, t("attributes.away_lp"), class: "form-label" %>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">&gt;=</span>
            <%= number_field_tag :vs_lp_from, params[:vs_lp_from], step: 100, min: 0, autocomplete: false, class: "form-control" %>
            <span class="input-group-text" id="basic-addon1">&lt;=</span>
            <%= number_field_tag :vs_lp_to, params[:vs_lp_to], step: 100, min: 0, autocomplete: false, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= submit_tag t("buttons.filter"), name: "", class: "btn btn-primary" %>
          <%= link_to t("buttons.reset"), false, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
