<%# locals: (pov: nil, battle:) -%>
<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <div class="col replay-id"><%= battle.replay_id %></div>
      <div class="col text-center"><%= time_ago battle.played_at %></div>
      <div class="col text-end"><%= battle_type battle.battle_type %></div>
    </div>
  </div>
  <div class="card-body d-flex align-items-center text-center">
    <%= render 'battles/challenger', challenger: battle.p1 %>
    <div class="col-1">
      <%= render 'battles/rounds', rounds: battle.p1.rounds %>
      <% battle.p1.mr_variation.try do |variation| %>
        <div><%= diff_span variation %></div>
      <% end %>
    </div>
    <div class="col-2 fs-1 text-center fw-bold">VS</div>
    <div class="col-1">
      <%= render 'battles/rounds', rounds: battle.p2.rounds %>
      <% battle.p2.mr_variation.try do |variation| %>
        <div><%= diff_span variation %></div>
      <% end %>
    </div>
    <%= render 'battles/challenger', challenger: battle.p2 %>
  </div>
  <% if pov.present? %>
    <div class="card-footer text-center">
        <% if battle.winner.nil? %>
          <span class="text-secondary"><%= t('common.draw', count: 1).upcase %></span>
        <% elsif battle.winner.player_sid == pov.sid %>
          <span class="text-success"><%= t('common.win', count: 1).upcase %></span>
        <% else %>
          <span class="text-danger"><%= t('common.lose', count: 1).upcase %></span>
        <% end %>
    </div>
  <% end %>
</div>
