<div>
  <div class="row border-bottom py-2 px-1">
    <div class="col text-start"><%= battle.replay_id %></div>
    <div class="col text-center"><%= local_time battle.played_at, format: :long %></div>
    <div class="col text-end"><%= battle_type_name battle.battle_type %></div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-6">
      <%= render "battle_challenger", challenger: battle.p1 %>
    </div>
    <div class="fs-1">X</div>
    <div class="col-6">
      <%= render "battle_challenger", challenger: battle.p2 %>
    </div>
  </div>
</div>
