<% rounds_order, info_order = challenger.side == 1 ? [ 2, 1 ] : [ 1, 2 ] %>
<div class="d-flex">
  <div class="col-10 text-center order-<%= info_order %>">
    <small><%= league_info_span(challenger.league_info) %></small>
    <div class="text-truncate fs-1">
      <%= link_to_fighter challenger.name, challenger.fighter_id %>
    </div>
    <small>
      <%= character_name challenger.character %>
      <%= input_type_name challenger.input_type %>
    </small>
  </div>
  <div class="col-2 px-2 text-center align-self-center order-<%= rounds_order %>">
    <ul class="list-unstyled mb-1">
      <% challenger.round_set.each do |round| %>
        <li><%= round_badge(round) %></li>
      <% end %>
    </ul>
  </div>
</div>
