<%# locals: (pov: nil, battle:) -%>
<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <div class="col"><%= battle.replay_id %></div>
      <div class="col text-center"><%= time_ago battle.played_at %></div>
      <div class="col text-end"><%= battle_type_span battle.battle_type %></div>
    </div>
  </div>
  <div class="card-body d-flex align-items-center text-center">
    <%= render 'battles/challenger', challenger: battle.p1 %>
    <%= render 'battles/rounds', rounds: battle.p1.rounds %>
    <div class="col-2 fs-1 text-center fw-bold">VS</div>
    <%= render 'battles/rounds', rounds: battle.p2.rounds %>
    <%= render 'battles/challenger', challenger: battle.p2 %>
  </div>
  <% if pov.present? %>
    <div class="card-footer text-center">
        <% if battle.winner.nil? %>
          <span class="text-secondary"><%= t '.draw' %></span>
        <% elsif battle.winner.player_sid == pov.sid %>
          <span class="text-success"><%= t '.win' %></span>
        <% else %>
          <span class="text-danger"><%= t '.lose' %></span>
        <% end %>
    </div>
  <% end %>
</div>
