<%= content_tag :div, class: "card", id: dom_id(battle) do %>
  <div class="card-header">
    <div class="d-flex">
      <div class="col text-start"><%= battle.replay_id %></div>
      <div class="col text-center"><%= time_ago battle.played_at %></div>
      <div class="col text-end"><%= t_battle_type battle.battle_type %></div>
    </div>
  </div>
  <div class="card-body d-flex align-items-center text-center">
    <%= render "battles/challenger", challenger: battle.challengers.p1 %>
    <div class="col-1">
      <%= render "battles/rounds", rounds: battle.challengers.p1.rounds %>
      <% battle.challengers.p1.master_rating_variation.try do |variation| %>
        <div><%= signed_number variation %></div>
      <% end %>
    </div>
    <div class="col-2 fs-1 text-center fw-bold">VS</div>
    <div class="col-1">
      <%= render "battles/rounds", rounds: battle.challengers.p2.rounds %>
      <% battle.challengers.p2.master_rating_variation.try do |variation| %>
        <div><%= signed_number variation %></div>
      <% end %>
    </div>
    <%= render "battles/challenger", challenger: battle.challengers.p2 %>
  </div>
  <% if content_for? :battle_footer %>
    <div class="card-footer">
      <%= yield :battle_footer %>
    </div>
  <% end %>
<% end %>
