<div class="text-center col-4">
  <small>
    <%= mr_lp(mr: challenger.master_rating, lp: challenger.league_point) %>
  </small>
  <div class="d-none d-lg-block fs-1 fw-bold">
    <%= link_to challenger.name, player_path(challenger.short_id) %>
  </div>
  <div class="d-lg-none d-sm-block fw-bold">
    <%= link_to challenger.name, player_path(challenger.short_id) %>
  </div>
  <small>
    <%= t_character challenger.character %> 
    <%= t_control_type challenger.control_type, format: :short  %> 
  </small>
</div>
