<div class="text-center col-4">
  <small>
    <% if challenger.master_rating > 0 %>
      <%= challenger.master_rating %> <%= t('buckler.mr').upcase %>
    <% else %>
      <%= challenger.league_point %> <%= t('buckler.lp').upcase %>
    <% end %>
  </small>
  <div class="d-none d-lg-block fs-1 fw-bold">
    <%= link_to_player challenger.name, challenger.player_sid %>
  </div>
  <div class="d-lg-none d-sm-block fw-bold">
    <%= link_to_player challenger.name, challenger.player_sid %>
  </div>
  <small>
    <%= character_name challenger.character %> 
    <%= control_type challenger.control_type %> 
  </small>
</div>
