<%= turbo_frame_tag "turbo-modal" do %>
  <div class="modal-header">
    <div class="col text-start"><%= @battle.replay_id %></div>
    <div class="col text-center"><%= l @battle.played_at, format: :long %></div>
    <div class="col text-end"><%= @battle.battle_type.human_name %></div>
  </div>
  <div class="modal-body d-flex justify-content-around align-items-center">
    <% @battle.challengers.each do |chall| %>
      <% chall_order = chall.p1? ? 1 : 3 %>
      <%= tag.div class: "col-6 row justify-content-around align-items-center order-#{chall_order}" do %>
        <% info_order, round_order = chall.p1? ? [ 1, 2 ] : [ 2, 1 ] %>
        <%= tag.div class: "col-9 text-center order-#{info_order}" do %>
          <div>
            <small>
              <% if chall.master_rating.positive? %>
                <%= chall.actual_master_rating %>
                <%= signed_number(chall.master_rating_variation) if chall.master_rating_variation.present? %>
              <% elsif !chall.league_point.calibrating? %>
                <%= chall.league_point %>
              <% end %>
            </small>
          </div>
          <div>
            <%= link_to_player chall.name, chall.short_id, class: "fs-1" %>
          </div>
          <div>
            <%= pick_span character: chall.character, control_type: chall.control_type %>
          </div>
        <% end %>
        <%= tag.ul class: "col-3 text-center order-#{round_order} list-unstyled my-0 mb-1" do %>
          <% chall.rounds.each { concat tag.li(round_badge _1) } %>
        <% end %>
      <% end %>
    <% end %>
    <div class="order-2 fs-1">X</div>
  </div>
<% end %>
