<%= filter_form_with model: matchup do |f| %>
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.select(:home_character, characters_options_for_select, { include_blank: t("common.any") }, class: "form-select") %>
        <%= f.label(:home_character) %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.select(:home_input_type, input_types_options_for_select, { include_blank: t("common.any") }, class: "form-select") %>
        <%= f.label(:home_input_type) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.select(:battle_type, battle_types_options_for_select, { include_blank: t("common.any") }, class: "form-select") %>
        <%= f.label(:battle_type) %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.date_field :played_from, class: "form-control" %>
        <%= f.label(:played_from) %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.date_field :played_to, class: "form-control" %>
        <%= f.label(:played_to) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit t("buttons.search"), name: nil, class: "btn btn-primary" %>
      <%= form_reset_button class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
