<form method="GET">
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= select_tag :home_character_id, options_for_character_select(params[:home_character_id]), class: "form-select" %>
        <%= label_tag :home_character_id, Matchup.human_attribute_name(:home_character)  %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= select_tag :home_input_type_id, options_for_input_type_select(params[:home_input_type_id]), class: "form-select" %>
        <%= label_tag :home_input_type_id, Matchup.human_attribute_name(:home_input_type) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= select_tag :battle_type_id, options_for_battle_type_select(params[:battle_type_id]), class: "form-select" %>
        <%= label_tag :battle_type_id, Matchup.human_attribute_name(:battle_type)  %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= date_field_tag :played_from, params["played_from"], class: "form-control" %>
        <%= label_tag :played_from, t("attributes.played_from")  %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= date_field_tag :played_to, params["played_to"], class: "form-control" %>
        <%= label_tag :played_to, t("attributes.played_to") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= submit_tag t("buttons.search"), name: nil, class: "btn btn-primary" %>
      <%= form_reset_button class: "btn btn-secondary" %>
    </div>
  </div>
</form>
