<%= fighter_content_frame do %>
  <div class="card card-body mb-3">
    <%= render "search_form", matchups_search: @matchups_search %>
  </div>

  <%= empty_alert_unless(@matchup_chart.any?) do %>
    <%= turbo_frame_tag "matchups-matchup-chart" do %>
      <div class="card card-body table-responsive">
        <%= render "matchup_chart", matchup_chart: @matchup_chart %>
      </div>
    <% end %>
  <% end %>
<% end %>
