<%= form_with model: ranked_history, url: false, scope: "", method: "get", data: { controller: "form-helper", form_helper_compact_blank_value: true } do |f| %>
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.select(:home_character, characters_options_for_select, { selected: params[:home_character] }, class: "form-select") %>
        <%= f.label(:home_character) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.date_field :played_from, class: "form-control" %>
        <%= f.label(:played_from) %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= f.date_field :played_to, class: "form-control" %>
        <%= f.label(:played_to) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit t("buttons.search"), name: nil, class: "btn btn-primary" %>
      <%= link_to t("buttons.reset"), false, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
