<div id="<%= dom_id(player, "header") %>">
  <h1><%= player.name %></h1>
  <small>
    <%= Player.human_attribute_name(:synchronized_at) %>:
    <%= player.synchronized_at.try { local_time_ago _1 } %>
    <% unless player.synchronized? %>
      <span>
        <span id="<%= dom_id(player, "synchronize") %>">
          <%= turbo_stream_from player, channel: PlayerSynchronizeChannel %>
          <%= bs_spinner size: "sm" %>
        </span>
      </span>
    <% end %>
  </small>
</div>
