<div class="p-2 table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th>VS</th>
        <th><%= t('common.total') %></th>
        <th><%= t('common.win', count: 0).upcase %></th>
        <th><%= t('common.lose', count: 0).upcase %></th>
        <th><%= t('common.draw', count: 0).upcase %></th>
        <th><%= t('common.diff') %></th>
      </tr>
    </thead>
    <tbody>
      <% matchup_chart.each do |row| %>
        <tr>
          <th class="text-center">
            <%= character(row.character) %>
            <%= control_type(row.control_type) %>
          </th>
          <td class="text-center"><%= row.total || '-' %></td>
          <td class="text-center"><%= row.wins || '-' %></td>
          <td class="text-center"><%= row.loses || '-' %></td>
          <td class="text-center"><%= row.draws || '-' %></td>
          <td class="text-center"><%= row.diff.try { diff_span(_1) } || '-' %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <% sum = matchup_chart.sum %>
      <tr>
        <th class="text-center"><%= t('common.all') %></th>
        <td class="text-center"><%= sum.total %></td>
        <td class="text-center"><%= sum.wins %></td>
        <td class="text-center"><%= sum.loses %></td>
        <td class="text-center"><%= sum.draws %></td>
        <td class="text-center"><%= diff_span(sum.diff) %></td>
      </tr>
    </tfoot>
  </table>
</div>

