<header class="pb-3">
  <h1><%= @player.name %></h1>
  <% @player.synchronized_at.try do |date| %>
    <small><%= t '.synchronized' %> <%= time_ago @player.synchronized_at %></small>
  <% end %>
</header>

<%= render 'battles_filter' %>

<%= alert t('.battles_count', count: @battles.count(1)), dismissible: true %>

<h3><%= t('.rivals') %></h3>
<%= render 'rivals' %>

<h3><%= t('.battles') %></h3>
<%= render 'battles' %>
