<header class="pb-3">
  <h1><%= @player.name %></h1>
  <small><%= t '.synchronized' %> <%= time_ago @player.synchronized_at %></small>
</header>

<div class="py-3">
  <div class="card">
    <div class="card-body">
      <%= form_with method: :get, class: '', data: { turbo_frame: :_top } do |f| %>
        <div class="row mb-3">
          <div class="col-md-3">
            <%= f.label :player_character, t('.player_character'), class: "form-label" %>
            <%= f.select :player_character, Buckler::CHARACTERS.invert, { include_blank: t('views.form.option.any'), selected: params['player_character'] }, { class: 'form-select' } %>
          </div>
          <div class="col-md-3">
            <%= f.label :player_control_type, t('.player_control_type'), class: "form-label" %>
            <%= f.select :player_control_type, Buckler::CONTROL_TYPES.invert, { include_blank: t('views.form.option.any'), selected: params['player_control_type'] }, { class: 'form-select' } %>
          </div>
          <div class="col-md-3">
            <%= f.label :vs_character, t('.vs_character'), class: "form-label" %>
            <%= f.select :vs_character, Buckler::CHARACTERS.invert, { include_blank: t('views.form.option.any'), selected: params['vs_character'] }, { class: 'form-select' } %>
          </div>
          <div class="col-md-3">
            <%= f.label :vs_control_type, t('.vs_control_type'), class: "form-label" %>
            <%= f.select :vs_control_type, Buckler::CONTROL_TYPES.invert, { include_blank: t('views.form.option.any'), selected: params['vs_control_type'] }, { class: 'form-select' } %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= submit_tag t("common.filter"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<h3><%= t('.rivals') %></h3>
<%= render 'rivals' %>

<h3><%= t('.battles') %></h3>
<%= render 'battles' %>
