<div id="rivals" class="d-flex flex-column flex-lg-row justify-content-center">
  <% [:favorites, :victims, :tormentors].each do |kind| %>
    <%= content_tag :div, class: 'flex-fill p-2', id: "rivals-#{kind}" do %>
      <div class="card">
        <div class="card-header text-center">
          <%= t(".#{kind}").titlecase %>
        </div>
        <div class="card-body table-responsive">
          <table class="table text-truncate">
            <thead>
              <tr class="text-center">
                <th clas="text-truncate" colspan="3"><%= t('.opponent').titlecase %></th>
                <th><%= t('.total').upcase %></th>
                <th><%= t('.wins').upcase %></th>
                <th><%= t('.loses').upcase %></th>
                <th>Σ</th>
              </tr>
            </thead>
            <tbody>
              <% rivals.public_send(kind).each do |r| %>
                <tr class="text-center">
                  <td><%= link_to_player r.name, r.player_sid %></td>
                  <td><%= character(r.character) %></td>
                  <td><%= control_type(r.control_type) %></td>
                  <td><small><%= r.total %></small></td>
                  <td><small><%= r.wins %></small></td>
                  <td><small><%= r.loses %></small></td>
                  <td><%= diff_span(r.diff) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
