<div class="d-flex flex-column flex-lg-row justify-content-between">
  <% [:favorites, :victims, :tormentors].each do |kind| %>
    <div class="flex-fill p-2">
      <div class="card">
        <div class="card-header text-center">
          <%= t(".#{kind}").titlecase %>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th colspan="2"><%= t('.opponent').titlecase %></th>
                <th><%= t('.total').upcase %></th>
                <th><%= t('.wins').upcase %></th>
                <th><%= t('.loses').upcase %></th>
                <th>Σ</th>
              </tr>
            </thead>
            <tbody>
              <% send(kind, @battles).each do |r| %>
                <tr>
                  <td>
                    <%= link_to_player r['name'], r['sid'] %>
                  </td>
                  <td class="text-center">
                    <%= character_name(r['character']) %>
                    <%= control_type(r['control_type']) %>
                  </td>
                  <td class="text-center"><small><%= r['total'] %></small></td>
                  <td class="text-center"><small><%= r['wins'] %></small></td>
                  <td class="text-center"><small><%= r['loses'] %></small></td>
                  <td class="text-center"><%= rival_score_span(r['diff']) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

