<h3><%= @action.model_name.human %></h3>

<div class="py-3">
  <div class="card">
    <div class="card-body">
      <%= form_with model: @action, method: :get  do |f| %>
        <div class="row mb-3">
          <div class="col-md-3">
            <%= f.label :character, class: "form-label" %>
            <%= character_select f, :character, include_any: false, class: 'form-select' %>
          </div>
          <div class="col-md-3">
            <%= f.label :period, class: "form-label" %>
            <%= period_select f, :period, class: 'form-select' %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.submit t("actions.filter"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" data-controller="battle-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <%= turbo_frame_tag 'battle' %>
      </div>
      <div class="modal-footer">
        <%= button_tag t('actions.close'), type: 'button', class: 'btn btn-secondary', data: { bs_dismiss: 'modal' } %>
      </div>
    </div>
  </div>
</div>

<% if @action.master_rating.present? %>
  <h4><%= t('buckler.data.league_info.master_rating') %></h4>
  <div class="p-2">
    <%= master_rating_chart @action.master_rating, frame: 'battle' %>
  </div>
<% elsif @action.league_point.present? %>
  <h4><%= t('buckler.data.league_info.league_point') %></h4>
  <div class="p-2">
    <%= league_point_chart @action.league_point, frame: 'battle' %>
  </div>
<% else %>
  <%= n_battles_found_alert(0) %>
<% end %>
