<h2><%= t('.ranked').titlecase %></h2>

<div class="py-3">
  <div class="card">
    <div class="card-body">
      <%= form_with model: @ranked_action, scope: '', url: '', method: :get, class: '', data: { turbo_frame: :_top } do |f| %>
        <div class="row mb-3">
          <div class="col-md-3">
            <%= f.label :character, t('.character'), class: "form-label" %>
            <%= character_select f, :character, include_any: false, class: 'form-select' %>
          </div>
          <div class="col-md-3">
            <%= f.label :period, t('.period'), class: "form-label" %>
            <%= f.select :period, @ranked_action.class::PERIOD.map {|k, v| [t(".periods.#{k}"), v] }, {}, { class: 'form-select' } %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= submit_tag t(".filter"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" data-controller="battle-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <%= turbo_frame_tag 'battle' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('.close') %></button>
      </div>
    </div>
  </div>
</div>

<% if @ranked_action.master_rating_data.present? %>
  <h3><%= t '.master_rating' %></h3>
  <div class="p-2">
    <%= battle_points_chart @ranked_action.master_rating_data, frame: 'battle' %>
  </div>
<% elsif @ranked_action.league_point_data.present? %>
  <h3><%= t '.league_point' %></h3>
  <div class="p-2">
    <%= battle_points_chart @ranked_action.league_point_data, frame: 'battle' %>
  </div>
<% else %>
  <%= alert t('.no_matches'), kind: :warning %>
<% end %>
