<table class="table table-striped text-center text-nowrap caption-top">
  <caption class="fs-4 text-center">
    <%= title %>
  </caption>
  <thead>
    <tr>
      <th colspan="3"><%= Matchup.human_attribute_name :away_challenger %></th>
      <%= score_table_head %>
      <th><%= tag.span icon("bar-chart-fill"), title: t("common.chart") %></th>
    </tr>
  </thead>
  <tbody>
    <% data.each do |item| %>
      <tr>
        <td><%= link_to_fighter item.name, item.fighter_id %></td>
        <td><%= character_name item.character_id %></td> 
        <td><%= input_type_name item.input_type_id %></td>
        <%= score_table_data item.score %>
        <td>
          <%= link_to_daily_performance_chart_path(
            away_fighter_id: item.fighter_id, 
            away_character_id: item.character_id,
            away_input_type_id: item.input_type_id,
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
