<div class="dropdown">
  <button id="bd-theme" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="theme-icon-active">
      <%= icon "circle-half" %>
    </span>
    <span class="d-none ms-2" id="bd-theme-text"><%= t(".toggle-theme") %></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        <%= icon "sun-fill" %>
        <span class="ps-1"><%= t(".light") %></span>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        <%= icon "moon-stars-fill" %>
        <span class="ps-1"><%= t(".dark") %></span>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
        <%= icon "circle-half" %>
        <span class="ps-1"><%= t(".auto") %></span>
      </button>
    </li>
  </ul>
</div>
