<form method="GET" data-controller="form-helper" data-form-helper-compact-blank-value="true">
  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= select_tag :home_character_id, options_for_character_select(params[:home_character_id], include_any: false), class: "form-select" %>
        <%= label_tag :home_character_id, RankedStep.human_attribute_name(:character) %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= date_field_tag :played_from, params["played_from"], autocomplete: "off", class: "form-control" %>
        <%= label_tag :played_from, t("attributes.played_from") %>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-floating">
        <%= date_field_tag :played_to, params["played_to"], autocomplete: "off", class: "form-control" %>
        <%= label_tag :played_to, t("attributes.played_to") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= submit_tag t("buttons.search"), name: nil, class: "btn btn-primary" %>
      <%= form_reset_button class: "btn btn-secondary" %>
    </div>
  </div>
</form>
