<table class="table table-striped text-center">
  <thead>
    <th><%= t("attributes.home_pick") %></th>
    <th><%= t("attributes.result") %></th>
    <th><%= t("attributes.away_fighter") %></th>
    <th><%= t("attributes.away_pick") %></th>
    <th><%= t("attributes.battle_type") %></th>
    <th><%= t("attributes.replay_id") %></th>
    <th><%= t("attributes.played_at") %></th>
  </thead>
  <tbody>
    <% challengers_list.each do |challenger| %>
      <tr>
        <td>
          <%= character_name challenger.character %>
          <%= input_type_name challenger.input_type %>
        </td>
        <td><%= result_badge challenger.result %></td>
        <td><%= link_to_fighter challenger.opponent.name, challenger.opponent.fighter_id %></td>
        <td>
          <%= character_name challenger.opponent.character %>
          <%= input_type_name challenger.opponent.input_type %>
        </td>
        <td><%= battle_type_name challenger.battle.battle_type %></td>
        <td><%= link_to_battle challenger.battle.replay_id %></td>
        <td><%= local_time_ago challenger.battle.played_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
