<!DOCTYPE html>
<html lang="<%= I18n.locale.name %>" data-bs-theme="dark">
  <head>
    <title><%= content_for(:title) || "SFBUFF" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sfbuff">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <% if Rails.env.production? %>
      <!-- workaround to use import maps in old browsers -->
      <script async src="https://ga.jspm.io/npm:es-module-shims@2.6.2/dist/es-module-shims.js"></script>
    <% end %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/assets/bootstrap/dist/css/bootstrap", skip_pipeline: true %>
    <%= stylesheet_link_tag "/assets/bootstrap-icons/font/bootstrap-icons", skip_pipeline: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="vh-100 d-flex flex-column">
    <%= render "layouts/application/nav" %>

    <main id="main" class="container my-3 flex-fill">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>

    <%= modal_turbo_frame_tag %>
    <%= toasts_container %>

    <%= render "layouts/application/footer" %>
  </body>
</html>
