<!DOCTYPE html>
<html>
  <head>
    <title>Sfbuff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-bs-theme="dark" class="min-vh-100">
    <header><%= render 'layouts/nav' %></header>
    <main class="container h-100 py-3">
      <%= turbo_frame_tag 'main' do %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
