<!DOCTYPE html>
<html>
  <head>
    <title>Sfbuff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-bs-theme="dark" class="min-vh-100 d-flex flex-column">
    <header><%= render 'layouts/nav' %></header>
    <main class="container h-100 py-3">
      <%= turbo_frame_tag 'main' do %>
        <%= yield %>
      <% end %>
    </main>
    <footer class="footer mt-auto py-3 bg-body-tertiary">
      <div class="container-fluid text-end">
        <% Rails.configuration.sfbuff[:repo_url].try do |url| %>
          <a target="_blank" class="link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="<%= url %>">
            <i class="bi bi-github"></i>
            github
          </a>
        <% end %>
      </div>
    </footer>
  </body>
</html>
