<!DOCTYPE html>
<html>
  <head>
    <%= head_title %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-bs-theme="dark" class="min-vh-100 d-flex flex-column">
    <header class="bg-body-tertiary" style="min-height: 3.4em">
      <%= render 'layouts/nav' unless current_page? root_path  %>
    </header>
    <main class="container py-3 mb-auto">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer class="footer py-3 bg-body-tertiary">
      <div class="container-fluid text-end">
        <% Rails.configuration.sfbuff[:repo_url].try do |url| %>
          <a target="_blank" class="link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="<%= url %>">
            <i class="bi bi-github"></i>
            github
          </a>
        <% end %>
      </div>
    </footer>
  </body>
</html>
