<% page_title @fighter.name %>

<% content_for :nav_search do %>
  <%= render "searches/search_form" %>
<% end %>

<% if I18n.locale == :ja && cookies["fair_use_agreement"] != "true" %>
  <%= render "layouts/fighter/fair_use" %>
<% end %>

<% content_for :main do %>
  <% unless @fighter.synchronized? %>
    <div id="<%= dom_id @fighter, "synchronization" %>" data-turbo-permanent>
      <%= synchronization_request_form @fighter, data: { turbo_frame: "fighter_synchronization" } %>
      <%= synchronization_turbo_frame_tag %>
    </div>
  <% end %>

  <%= turbo_frame_tag "fighter-content", data: { turbo_action: "advance" } do %>
    <div id="fighter-header">
      <div class="d-flex align-items-center">
        <h1><%= @fighter.name %></h1>
        <%= link_to_fighter_buckler_profile @fighter, class: "ms-2 text-decoration-none align-self-start" do %>
          <%= bs_icon "box-arrow-up-right", class: "small" %>
        <% end %>
      </div>

      <% @fighter.synchronized_at.try do |synchronized_at| %>
        <small>
          <%= t(".synchronized_at_html", local_time_ago: local_time_ago(synchronized_at)) %>
        </small>
      <% end %>
    </div>

    <nav class="py-3">
      <ul class="nav nav-fill nav-underline">
        <%= fighter_header_nav_item Match.model_name.human, :fighter_matches, params: request.query_parameters.to_h %>
        <%= fighter_header_nav_item MatchupChart.model_name.human, :fighter_matchup_chart, params: request.query_parameters.to_h %>
        <%= fighter_header_nav_item RankedHistory.model_name.human, :fighter_ranked_history, params: request.query_parameters.to_h %>
      </ul>
    </nav>

    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
