<% content_for :main do %>
  <% page_title @fighter.profile.name %>

  <% content_for :search_form do %>
    <%= render "fighters/search_form" %>
  <% end %>

  <%= turbo_stream_from @fighter %>

  <%= render "fighters/header", fighter: @fighter %>

  <% unless @fighter.synchronized? %>
    <div id="<%= dom_id(@fighter, "synchronization") %>">
      <%= turbo_stream_from(@fighter, "synchronization") %>
      <%= turbo_frame_tag "synchronization" do %>
        <%= auto_submit_form_with url: fighter_path(@fighter), method: "patch" %>
      <% end %>
    </div>
  <% end %>

  <%= turbo_frame_tag "fighter_content" do %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
