<% content_for :search_form do %>
  <%= render "fighters/search_form" %>
<% end %>

<% content_for :main do %>
  <%= turbo_stream_from @fighter %>

  <%= render "fighters/header", fighter: @fighter %>

  <% unless @fighter.synchronized? %>
    <%= auto_submit_form_with url: fighter_path(@fighter), method: "patch", data: { turbo_stream: true } %>

    <div class="position-relative" id="<%= dom_id(@fighter, "synchronization") %>">
      <%= turbo_stream_from(@fighter, "synchronization") %>
    </div>
  <% end %>

  <%= turbo_frame_tag "fighter-content", data: { turbo_action: "advance" } do %>
    <nav class="py-3">
      <ul class="nav nav-fill nav-underline">
        <li class="nav-item"><%= fighters_header_nav_link Battle.model_name.human(count: 2), :fighter_matches_path, class: "nav-link" %></li>
        <li class="nav-item"><%= fighters_header_nav_link Matchup::MatchupChart.model_name.human, :fighter_matchup_chart_path, class: "nav-link" %></li>
        <li class="nav-item"><%= fighters_header_nav_link RankedHistory.model_name.human, :fighter_ranked_path, class: "nav-link" %></li>
      </ul>
    </nav>

    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
