<% content_for :main do %>

  <h1><%= @player.name %></h1>

  <% if @player.synchronized? %>
    <small><%= t '.synchronized' %>: <%= time_ago @player.synchronized_at %></small>
  <% else %>
    <div id="player-synchronize-result">
      <div class="text-center">
        <%= spinner %>
      </div>
    </div>
    <%= turbo_stream_from @player.short_id, channel: 'PlayerSynchronizeChannel' %>
  <% end %>

  <% if @player.persisted? %>
    <div class="py-3">
      <ul class="nav nav-fill nav-underline">
        <li class="nav-item">
          <%= nav_link t("titles.players.battles"), player_battles_path(@player), class: "nav-link", data: { turbo_frame: "player-content", turbo_action: "advance" } %>
        </li>
        <li class="nav-item">
          <%= nav_link t("titles.players.matchup_chart"), player_matchup_chart_path(@player), class: "nav-link", data: { turbo_frame: "player-content", turbo_action: "advance" } %>
        </li>
        <li class="nav-item">
          <%= nav_link t("titles.players.ranked"), player_ranked_path(@player), class: "nav-link", data: { turbo_frame: "player-content", turbo_action: "advance" } %>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>

<%= render template: "layouts/with_header_footer" %>
