<% content_for(:title) { page_title(@player.name) } %>

<% content_for :search_form do %>
  <%= render "players/search_form" %>
<% end %>

<% content_for :main do %>
  <div>
    <h1><%= @player.name %></h1>
    <%= tag.small "#{Player.human_attribute_name(:synchronized_at)}: #{time_ago_in_words @player.synchronized_at}" if @player.synchronized_at.present? %>
    <%= render "shared/delayed_job", job: @sync_job if @sync_job %>
  </div>

  <nav class="py-3">
    <ul class="nav nav-fill nav-underline">
      <li class="nav-item"><%= players_header_nav_link Battle.model_name.human, battles_path(@player), class: "nav-link" %></li>
      <li class="nav-item"><%= players_header_nav_link MatchupChart.model_name.human, matchup_chart_path(@player), class: "nav-link" %></li>
      <li class="nav-item"><%= players_header_nav_link RankedHistory.model_name.human, ranked_history_path(@player), class: "nav-link" %></li>
    </ul>
  </nav>

  <%= yield %>
<% end if @player.persisted? %>

<% content_for :main do %>
  <%= render "shared/delayed_job", job: @sync_job if @sync_job %>
<% end unless @player.persisted? %>

<%= render template: "layouts/application" %>
