<% content_for :main do %>

  <h1><%= @player.name %></h1>

  <% @player.synchronized_at.try do |synchronized_at| %>
    <small><%= t ".synchronized" %>: <%= time_ago synchronized_at %></small>
  <% end %>

  <% unless @player.synchronized? %>
    <div id="player-synchronize-result">
      <div class="text-center">
        <%= spinner %>
      </div>
      <%= turbo_stream_from @player.short_id, channel: "PlayerSynchronizeChannel" %>
    </div>
  <% end %>

  <% if @player.persisted? %>
    <% page_title @player.name %>

    <div class="py-3">
      <ul class="nav nav-fill nav-underline">
        <li class="nav-item">
          <%= nav_item t(".nav.battles"), player_battles_path(@player), params: request.query_parameters, class: "nav-link", data: { turbo_frame: "player-content", turbo_action: "advance" } %>
        </li>
        <li class="nav-item">
          <%= nav_item t(".nav.matchup_chart"), player_matchup_chart_path(@player), params: request.query_parameters, class: "nav-link", data: { turbo_frame: "player-content", turbo_action: "advance" } %>
        </li>
        <li class="nav-item">
          <%= nav_item t(".nav.ranked"), player_ranked_path(@player), params: request.query_parameters, class: "nav-link", data: { turbo_frame: "player-content", turbo_action: "advance" } %>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>

<%= render template: "layouts/with_header_footer" %>
