<% content_for :content do %>
  <% if @player.present? %>
    <% unless @player.synchronized? %>
      <div id="sync-result">
        <div class="text-center"><%= spinner %></div>
      </div>
      <%= turbo_stream_from @player.sid, channel: 'PlayerSyncChannel', data: { player_sid: @player.sid } %>
    <% end %>
    <header class="pb-3">
      <%= page_title @player.name %>
      <% @player.synchronized_at.try do |date| %>
        <small><%= t '.synchronized' %>: <%= time_ago @player.synchronized_at %></small>
      <% end %>
    </header>
  <% end %>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
